body {
    width: 400px;
    height: 500px;
    background: rgb(40,40,40);
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 16px;
}

button {
    background-color: white;
    border: none;
    color: rgb(40, 40, 40);
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

input {
    width: 200px;
    height: 22px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }